@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
  --josefin-font: "Josefin Sans", sans-serif;
  --rubik-font: "Rubik Sans", sans-serif;
  --goldenish-text-color: #e3c86a;
}


::-webkit-scrollbar{
  width: 7px;
}
::-webkit-scrollbar-track{
  background-color: rgb(110, 110, 110);
}
::-webkit-scrollbar-thumb{
  border-radius: 50px;
  background-color: #ceb660;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rubik-font{
  font-family: var(--rubik-font);
}
.josefin-font{
  font-family: var(--josefin-font);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
